@model Order
@{
    ViewData["Title"] = "سبد خرید";
}


<div class="container">
    @if (Model != null)
    {
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>کالا</th>
                    <th>تعداد</th>
                    <th>قیمت</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.OrderDetails)
                {
                    <tr>
                        <td>@item.Product.Title</td>
                        <td>@item.Count</td>
                        <td>@(item.Count * item.Price)</td>
                        <td>
                            <a asp-action="RemoveCart" asp-route-DetailId="@item.OrderDetailID">حذف</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <h5>جمع کل : @Model.OrderDetails.Sum(s => s.Count * s.Price)</h5>
        <a class="btn btn-primary" asp-action="Payment">تایید و پرداخت نهایی</a>
    }
    else
    {
        <div class="alert alert-danger">فاکتوری نیست</div>
    }
</div>