@page
@model MohamadShop.Pages.Admin.sliderrr.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-page="Create">افزودن اسلاید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Slider[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slider[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slider[0].ProductId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Slider) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a class="btn btn-success" asp-page="./Details" asp-route-id="@item.Id">اطلاعات</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
